<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navpanel" class="buttons">
    <a href="#">SpringShop</a>
    <form th:action="@{/product/api/v1}" th:method="get">
        <button type="submit">Products</button>
    </form>
    <form th:action="@{/user/api/v1}" th:method="get">
        <button type="submit">Users</button>
    </form>
    <form th:action="@{/statistic}" th:method="get">
        <button type="submit">Statistic</button>
    </form>
    <form sec:authorize="isAuthenticated()"
          th:action="@{/logout}" th:method="post">
        <button>
            Logout <span sec:authentication="principal.username"></span>
        </button>
    </form>
</nav>
</html>