<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SpringShop</title>
</head>
<nav th:replace="fragments/head.html :: navpanel"></nav>
<body>
<span>
    <div align="center">
    <table cellspacing="5" align="center">
        <thead>
            <td>id</td>
            <td>title</td>
            <td>description</td>
            <td>price</td>
            <td>currency</td>
        </thead>
        <tbody>
        <tr>
           <td><span th:text="${product.id}"></span></td>
           <td><span th:text="${product.title}"></span></td>
           <td><span th:text="${product.description}"></span></td>
           <td><span th:text="${product.price}"></span></td>
           <td><span th:text="${product.currency}"></span></td>
        </tr>
        </tbody>
    </table>
        <form action="#" th:action="@{update/}" method="post" th:object="${product}" sec:authorize="hasAnyRole('ROLE_Manager')">
            <input type="hidden" id="id" name="id" th:field="*{id}">
            <div>
               <label for="name">New name</label>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                <input type="text" id="name" name="name" placeholder="Enter name of the product" th:field="*{title}">
            </div>
            <div>
               <label for="name">New description</label>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                <input type="text" id="desc" name="desc" placeholder="Enter description of the product" th:field="*{description}">
            </div>
            <div>
                <label for="price">New price</label>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                <input type="text" id="price" name="price" placeholder="Enter price of the product" th:field="*{price}">
            </div>
            <div>
                <label for="currency">New currency</label>
                <p th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}"></p>
                <input type="text" id="currency" name="currency" placeholder="Enter currency of the product" th:field="*{currency}">
            </div>
        <button type="submit">Update</button>
        </form>
    <table>
        <thead>
            <td>id</td>
            <td>username</td>
            <td>text</td>
            <td>date</td>
            <td sec:authorize="hasAnyRole('ROLE_Manager')">buttons</td>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td><span th:text="${comment.id}"></span></td>
            <td><span th:text="${comment.username}"></span></td>
            <td><span th:text="${comment.text}"></span></td>
            <td><span th:text="${comment.date}"></span></td>
            <td sec:authorize="hasAnyRole('ROLE_Manager')">
                <form th:action="@{/product/api/v1/comment/delete(id=${comment.id}, productId=${productId})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form method="post" th:action="@{/product/api/v1/comment/add(text=*{newComment.text}, username=*{newComment.username}, productId=${productId})}">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username" th:field="*{newComment.username}">
            <label for="text">Text</label>
            <input type="text" id="text" name="text" placeholder="Enter comment" th:field="*{newComment.text}">
            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
</span>
</body>
</html>