<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SpringShop</title>
</head>
<nav th:replace="fragments/head.html :: navpanel"></nav>
<body>
<span>
    <div>
    <table cellspacing="5" align="center">
        <h3 align="center">User</h3>
        <thead>
            <td>id</td>
            <td>name</td>
            <td>email</td>
            <td>roles</td>
        </thead>
        <tbody>
        <tr>
           <td><span th:text="${user.id}"></span></td>
           <td><span th:text="${user.username}"></span></td>
           <td><span th:text="${user.email}"></span></td>
           <td><span th:text="${user.roles}"></span></td>
        </tr>
        </tbody>
    </table>
        </div>
    <div>
    <h3 align="center">Orders</h3>
    <table cellspacing="5" align="center">
        <thead>
            <td>id</td>
            <td>total cost</td>
            <td>actions</td>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <span th:text="${order.id}"></span>
            </td>
            <td>
                <span th:text="${order.totalCost}"></span>
            </td>
            <td>
                <form action="#" th:action="@{order/} + ${order.id}" method="get">
                    <input type="hidden" id="order_sum" name="order_sum" th:object="${order.id}">
                    <button type="submit">inspect</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
    <div>
    <h3 align="center">Cart</h3>
    <table cellspacing="5" align="center">
        <thead align="center">
            <td>id</td>
            <td>title</td>
            <td>cost</td>
            <td>currency</td>
            <td>actions</td>
        </thead>
        <tfoot align="right">
            <tr><td><span th:text="${total_cost}"></span></td></tr>
        </tfoot>
        <tbody align="center">
        <tr th:each="item : ${cart_items}">
            <td><span th:text="${item.id}"></span></td>
            <td><span th:text="${item.title}"></span></td>
            <td><span th:text="${item.price}"></span></td>
            <td><span th:text="${item.currency}"></span></td>
            <td>
                <form action="#" th:action="@{cart/delete(cartId=${cart_id}, itemId=${item.id})}" method="post">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        <form action="#" th:action="@{cart/add}" method="post" th:align="center">
            <input type="text" id="cartId" name="cartId" th:placeholder="${cart_id}" th:value="cartId">
            <input type="text" id="itemId" name="itemId" placeholder="itemId" th:value="itemId">
            <button type="submit">addById</button>
        </form>
        </div>
    <div>
        <form action="#" th:action="@{cart/createOrder}" method="post" th:align="center">
            <input type="hidden" id="createCartCartId" name="cartId" th:value="${cart_id}">
            <input type="hidden" id="createCartUserId" name="userId" th:value="${user.id}">
            <input type="hidden" id="createCartTotalCost" name="totalCost" th:value="${total_cost}">
            <button type="submit">Create an order</button>
        </form>
    </div>
    <div>
    <h1 align="center">Update user</h1>
        <div th:align="center">
        <form action="#" th:action="@{/user/api/v1/update}" method="post" th:object="${user}" sec:authorize="hasAnyRole('ROLE_MainAdmin')">
            <input type="hidden" id="id" name="id" th:field="*{id}">
            <div>
               <label for="username">New name</label>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <input type="text" id="username" name="username" placeholder="Enter username of the product" th:field="*{username}">
            </div>
            <div>
                <label for="email">New password</label>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <input type="email" id="email" name="email" placeholder="Enter email of the user" th:field="*{email}">
            </div>
            <div>
                <label for="password">New password</label>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <input type="text" id="password" name="password" placeholder="Enter password of the user" th:field="*{password}">
            </div>
            <div>
                <label>Roles</label>
                <select th:field="*{roles}" id="roles" required multiple>
                    <option th:each="role : ${auth_roles}"
                            th:text="${role.getName()}" th:value="${role.getId()}"
                            th:selected="${user.getRoles()?.contains(role)}">
                    </option>
                </select>
            </div>
        <button type="submit" sec:authorize="hasAnyRole('ROLE_MainAdmin')">Update</button>
        </form>
            </div>
</div>
</span>
</body>
</html>